body {
  background: #FFFFFF;
}

DIV.bookpage {
  margin:0.1in 0.5in 0in 0.5in;
  background-color: #DDDDDD;
  color: black;
  border:2px solid black;
}

DIV.webpage {
  margin:0.1in 0.5in 0.1in 0.5in;
  background-color: white;
  color: black;
  border:2px solid black;
}

H1, H2, H3, H4 {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

H1 {
  color: red;
}

H1.caption {
  padding:0.1in;
  text-align: left;
  font-size: 14pt;
  color: black;
}

P {
  font-size: 12pt;
}

P.nav {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 9pt;
  text-align: right;
  /* background: #cccccc */
}

p.nav a:link {
  text-decoration: none;
  border: 0px 0px 5px 0px solid black;
}
p.nav a:visited{
  text-decoration: none;
}

P.title {
  font-family: Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  font-style: italic;
  text-align: right;
  margin: 0;
  padding: 0;
}
P.title a:link,
P.title a:visited {
  text-decoration: none;
}

p.librarian,
p.faculty,
p.student {
  margin-top: 0;
  margin-left: 2em;
  font-size: large;
  font-weight: bold;
  margin-right: 2em;
}

p.librarian {
  color: green;
}
p.faculty {
  color: red;
}
p.student {
  color: blue;
}

td.left {
  width = 50%;
}

P.booktitle {
  text-align: center;
  color: blue;
}

P.bookpage {
  text-align: right;
  color: blue;
} /* 7797 */

P.wrong {
  color: red;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

P.endnotes {
  margin-left: 25%;
  margin-right: 0.6in;
  background-color: white;
  color: grey;
  font-size: 8pt;
}
